body{
    background-color: rgb(15, 42, 84);
    text-align: center;
}

h1{
    color: rgb(163, 163, 163);
    font-family: 'Times New Roman', Times, serif;
    text-decoration: solid;
}

iframe{
    width: 560px;
    height: 350px;
}

a{
    color: rgb(163,163,163);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    text-decoration:solid;
}


img{
    width: 30px;
    
}
